.landing {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(var(--clr-bg-2), var(--clr-bg-1));
}

.landing__hero-container {
  width: 80%;
  height: 80%;
  background: linear-gradient(to top, #272727ba, rgba(0, 0, 0, 0.326)),
    url(../../public/landing-hero.jpg) no-repeat;
  background-position: 50% 20%;
  background-size: cover;
  transform: rotate(1.5deg);
  box-shadow: 0px 0px 30px 10px var(--clr-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 2rem solid #fff;
  padding-top: 6rem;
  padding-left: 4rem;
  padding-bottom: 7rem;
  font-family: var(--ff-primary);
}

.landing__details {
  margin-top: 2rem;
}

.landing__details h2 {
  font-weight: var(--fw-reg);
  color: var(--clr-accent);
  font-family: var(--ff-secondary);
}

.landing__btn {
  width: 14rem;
  background-color: transparent;
  border: 2px solid var(--clr-accent);
  border-radius: 5rem;
  height: 2rem;
  color: var(--clr-accent);
  margin: 1rem 0;
  cursor: pointer;
  font-size: var(--fs-details);
}

.landing__btn:hover {
  background-color: var(--clr-accent);
  color: var(--clr-bg-form);
}

.landing h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-reg);
  color: var(--clr-bg-2);
}
