.register {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(var(--clr-bg-2), var(--clr-bg-1));
}

.reg__main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
  box-shadow: 0px 0px 20px var(--clr-shadow);
}

.reg__form {
  background: var(--clr-bg-form);
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.reg__image-container {
  width: 50%;
  height: 100%;
  background: linear-gradient(to top, #272727ba, rgba(91, 66, 66, 0.23)),
    url(../../public/login-hero.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  padding-top: 6rem;
  font-family: var(--ff-primary);
  font-size: var(--fs-h3);
  letter-spacing: 2px;
}

.reg__fullname {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  gap: 0.4rem;
}

.reg__input-container {
  width: 80%;
  padding: 1rem 0;
}

.reg__input-container input {
  width: 100%;
  height: 2rem;
  border-radius: 0.4rem;
  outline: none;
  border: 1px solid #000;
  padding: 0 0.5rem;
  background-color: #333946;
  color: #fff;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.reg__input-container input:focus {
  box-shadow: 0 0 5px var(--clr-shadow);
  border: 1px solid var(--clr-shadow);
}

label {
  font-size: 0.8rem;
  color: #05a081;
}

.submit {
  width: 60%;
  background-color: transparent;
  border: 2px solid var(--clr-accent);
  border-radius: 5rem;
  height: 2rem;
  color: var(--clr-accent);
  margin: 1rem 0;
  cursor: pointer;
  font-size: var(--fs-details);
}

.submit:hover {
  background-color: var(--clr-accent);
  color: var(--clr-bg-form);
}

/* The popup styling is in login.css file */
