/* Set up */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #05a081;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

:root {
  --ff-primary: 'Fredoka One', cursive;
  --ff-secondary: 'Inter', sans-serif;

  --fw-reg: 100;
  --fw-bold: 600;

  --fs-h1: 3rem;
  --fs-h2: 2.3rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.3rem;
  --fs-body: 1rem;
  --fs-details: 1rem;

  --clr-bg-1: #373954;
  --clr-bg-2: #16181d;
  --clr-bg-form: #20232a;
  --clr-bg-input: #333946;
  --clr-accent: #05a081;
  --clr-accent-2: #300e01;
  --clr-shadow: rgba(54, 136, 109, 0.599);
}

.products {
  background: linear-gradient(to top, #272727c4, rgba(91, 66, 66, 0.521)),
    url(../public/products-hero.jpg) no-repeat center center;
}
.forum {
  background: linear-gradient(to top, #272727c4, rgba(91, 66, 66, 0.521)),
    url(../public/forum-hero.jpg) no-repeat center center;
}
.about {
  background: linear-gradient(to top, #272727c4, rgba(91, 66, 66, 0.521)),
    url(../public/about-hero.jpg) no-repeat center center;
}
.products,
.forum,
.about {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 6rem;
  color: #fff;
  font-size: var(--fs-h1);
}

@media only screen and (max-width: 1220px) {
  :root {
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.3rem;
    --fs-h4: 1.1rem;
    --fs-body: 1rem;
    --fs-details: 0.7375rem;
  }
}
@media only screen and (max-width: 1000px) {
  :root {
    --fs-h1: 2.3rem;
    --fs-h2: 1.8rem;
    --fs-h3: 1.3rem;
    --fs-h4: 1.1rem;
    --fs-body: 1rem;
    --fs-details: 0.7375rem;
  }
}
@media only screen and (max-width: 700px) {
  :root {
    --fs-h1: 2.3rem;
    --fs-h2: 1.8rem;
    --fs-h3: 1.1rem;
    --fs-h4: 1.1rem;
    --fs-body: 1rem;
    --fs-details: 0.7375rem;
  }
}
@media only screen and (max-width: 350px) {
  :root {
    --fs-h3: 0.9rem;
  }
}
@media only screen and (max-width: 280px) {
  :root {
    --fs-h3: 0.8rem;
  }
}
